<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happyzombie.springinitializr.dao.HotTransactionDailyEntityMapper">
    <resultMap id="BaseResultMap" type="com.happyzombie.springinitializr.bean.entity.HotTransactionDailyEntity">
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="create_time" javaType="java.lang.Long" jdbcType="BIGINT"/>
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.happyzombie.springinitializr.bean.entity.HotTransactionDailyEntity">
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="create_time" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="args" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , create_time
    </sql>
    <sql id="Blob_Column_List">
        args
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from hot_transaction_daily
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from hot_transaction_daily
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.happyzombie.springinitializr.bean.entity.HotTransactionDailyEntity">
        insert into hot_transaction_daily (id, create_time,
                                           args)
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT},
                #{args,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.happyzombie.springinitializr.bean.entity.HotTransactionDailyEntity">
        insert into hot_transaction_daily
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="args != null">
                args,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="accountId != null">
                #{accountId,jdbcType=VARCHAR},
            </if>
            <if test="args != null">
                #{args,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.happyzombie.springinitializr.bean.entity.HotTransactionDailyEntity">
        update hot_transaction_daily
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="args != null">
                args = #{args,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs"
            parameterType="com.happyzombie.springinitializr.bean.entity.HotTransactionDailyEntity">
        update hot_transaction_daily
        set create_time = #{createTime,jdbcType=BIGINT},
            args        = #{args,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey"
            parameterType="com.happyzombie.springinitializr.bean.entity.HotTransactionDailyEntity">
        update hot_transaction_daily
        set create_time = #{createTime,jdbcType=BIGINT},
            where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByTime" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from hot_transaction_daily
        where create_time = #{0}
    </select>
</mapper>