<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happyzombie.springinitializr.dao.NftInfoMapper">

    <!--todo 自动生成 时间相关属性 -->
    <insert id="insertOne"
            parameterType="com.happyzombie.springinitializr.bean.Do.NftInfoDO">
        insert into nft_info (contract_id, nft_id, attributes, token_series_id, name, media)
        VALUES (#{contractId}, #{nftId}, #{attributes}, #{tokenSeriesId}, #{name}, #{media});
    </insert>

    <!--todo select *-->
    <select id="selectOne" parameterType="com.happyzombie.springinitializr.bean.Do.NftInfoDO"
            resultType="com.happyzombie.springinitializr.bean.Do.NftInfoDO">
        select
            `id`,
            `contract_id` contractId,
            `nft_id` nftId,
            `attributes`,
            `token_series_id` tokenSeriesId,
            `name`,
            `media`
        from nft_info
        where token_series_id = #{tokenSeriesId}
    </select>

</mapper>